log/
local_settings.py

# Byte-compiled / optimized / DLL files
__pycache__/

build/
coverage/
dist/
*\.egg*

# data

/media/
/node_modules/

# Exported results file
django-queries-results.html

# uploads/docx
# uploads/pdf
/db/

#git
.idea

# virtualenv
.venv/
venv/
ENV/

